* {
    box-sizing:border-box;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: rgb(247, 245, 242);
}

h1, header h2, .project_title{
    font-family: 'Old Standard TT', serif;
}

h1 {
    font-weight: 400;
}

a {
    color: black;
}
a:hover{
    color: rgb(254, 155, 110);
}
nav h1 {
    position: absolute;
    left:3%;
    font-weight: bold;
}

main, footer{
    margin: 0;
    padding: 0;
    margin: 3%;
}
nav{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
    border-bottom: solid 2px black;
    background-color: rgb(247, 245, 242);
    display:flex;
    align-items: center;
}

header h1{
    font-weight: bolder;
    margin: 0;
    padding:0;
}
header h2{
    font-weight: lighter;
    margin: 0;
    padding:0;
}

.inner {
    margin: 0 3%;
}

.big_line_height {
    line-height: 170%;
}

.other_info button{
    background-color: Transparent;
    border:1px black solid;
}
footer {
    margin-bottom: 50px;
}


@media screen and (max-width:899px) { 
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 36px;
        
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 18px;
    }
    p, .other_info{
        font-size:18px;
    }
    nav{
        height: 70px;
    }

    nav h1 {
        font-size: 24px;
        padding: 0;
        margin: 0;
    }

    .big{
        display:none;
    }
    .small{
        position: absolute;
        right:3%;
        height:24px;
        width: auto;
    }

    header{
        margin-top:150px;
    }

    /* header h1{
        line-height: 10%;
        
    } */

    header img{
        padding: 0 3%;
        padding-top: 30px;
        content:url(images/profile_horizontal.JPG);
        width:100%;
    }

    .section_title {
        margin-top: 100px;
        margin-bottom: 40px;
    }

    .projects img{
        width:100%;
        height:auto;
    }

   .other_info b{
        display: block;
   }

   .other_info button{
        font-size: 14px;
        margin-top: 24px;
        margin-bottom:60px;
        margin-right: 20px;
        padding: 10px 15px;
        
   }

   
   footer b{
       display:block;
       margin-bottom: 15px;
       font-size: 14px;
    
   }
   footer a{
       text-decoration: none;
   }
}

@media screen and (min-width:900px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 60px;
    }
    h3{
        font-size: 32px;
    }
    h4 {
        font-size: 24px;
    }
    p, .other_info b{
        font-size:20px;
    }
    
    nav {
        height: 80px;
    }

    nav h1 {
        font-size: 30px;
        padding: 0;
        margin: 0;
    }

    .small {
        display: none;
    }

    ul.big {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 3%;
    }

    .big li {
        display: inline;
        font: lighter;
        font-size: 16px;
        margin-left: 50px;
    }

    .big li a, .contact_info a{
        text-decoration: none;
    }

    header, .projects>section {
        /* margin-top:240px; */
        width: 100%;
        /* position: relative; */
        display:flex;
        /* align-items: center; */
    }

    header {
        position: relative;
        margin-top: 240px;
        align-items: center;
    }
    header div.section_text{
        display: inline-block;
        width: 50%;
        /* margin-right: 14%; */
        
    }
    header img{
        display: inline-block;
        position: absolute;
        right: 0;
        width:300px;
        height: auto;
        /* margin: 0 5%; */
        
    }
    /* header h1{
        line-height: 20%;
        
    } */

    /* .projects {
        position: relative;
    } */

    .section_title {
        margin-top: 280px;
        margin-bottom: 60px;
    }

    .projects>section{
        align-items: flex-start;
    }

    .projects .section_text {
        width: 600px;
        float: right;
        margin-left: 5%;
        /* position: absolute;
        right: 0; */
    }
    .projects>section h3 {
        margin-top: 0;
        padding-top: 0;
        line-height: 110%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .projects img {
        /* display: inline-block; */
        padding:3% 6%;
        width:100%;
        height:auto;
    }
    .projects .section_pic{
        width: 100%;
        background-color: black;
    }
    .projects b{
        display: block;
    }
    .projects button{
        font-size: 16px;
        padding: 10px 15px;
        margin-top: 20px;
        margin-right:10px;
    }
    .projects>section {
        margin-bottom: 80px;
    }
    /* .contact_info{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    } */
    .contact_info b{
        display: inline-block;
        margin-right: 15%;
        font-size: 16px;
    }
    footer {
        margin-bottom: 50px;
    }
}